<section class="box title-box">
    <div class="box top-box">
        <form  id="start">
            <div class="form-group-lg">
                <label>メーカー名</label>
                <input type="text" class="form-control" id="one">
            </div>
        </form>
    </div>
    
    <div class="box middle-box">
        <div class="wrapper first_middle-wrapper">
            
            <div class="plate left-plate">
                <div class="plate category-column">
                    <form>
                        <div class="form-group-lg">
                            <label>カテゴリー１</label>
                            <input type="text" class="form-control" id="two">
                        </div>
                    </form>
                </div>
                
                <div class="plate button-column">
                    <button type="submit" class="btn btn-danger">＋</button>
                </div>
            </div>
            
            <div class="plate right-plate">
                <div class="catalog-column" id="three">
                    <form>
                        <div class="form-group-lg">
                            <label>カタログ１</label>
                            <input type="text" class="form-control">
                            <label>カタログPDF</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                
                <div class="plate button-column">
                    <button type="submit" class="btn btn-danger">＋</button>
                </div>
            </div>
            
        </div>
    </div>
</section>
    
