<footer>
    <div class="box footer-box">
        <p>Excel</p>
    </div>
</footer>

<body>
    <div class="box top-box">
        <div class="wrapper top-left-wrapper"></div>
        <div class="wrapper top-right-wrapper">
            <h1>新規作成</h1>
        </div>
    </div>
    
    <div class="box content-box">
        <div class="wrapper middle-left-wrapper">
            <ul>
                <li><button type="button" class="btn btn-primary">ボタン</button></li>
                <li><button type="button" class="btn btn-primary">ボタン</button></li>
                <li><button type="button" class="btn btn-primary">ボタン</button></li>
                <li><button type="button" class="btn btn-primary">ボタン</button></li>
                <li><button type="button" class="btn btn-primary">ボタン</button></li>
                <li><button type="button" class="btn btn-primary">ボタン</button></li>
                <li><button type="button" class="btn btn-primary">ボタン</button></li>
            </ul>
        </div>
        <div class="wrapper middle-right-wrapper">
            
        </div>
    </div>
</body>
